.first-col{
	background-color: #487eb0;
	padding: 20px;
}
.second-col{
	background-color: #40739e;
	padding: 20px;
}
.third-col{
	background-color: #7f8fa6;
	padding: 20px;
}
.four-col{
	background-color: #7f8fa6;
	padding: 20px;
}
.fith-col{
	background-color: #487eb0;
	padding: 20px;
}